.typeNav {
    margin : 20px; 
    display : flex; 
    flex-direction: row;
}

.headerLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}
.headerCard {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.title {
    margin-right: 10px;
    margin-left: 20px;
}

.carousel-image-container {
    width: 250px;
    height: 250px;
    margin: 20px;
  }

.container {
    display : flex;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.carubutton {
    height : 50px;
    
}

