/* .typeNav {
    margin : 20px; 
    display : flex; 
    flex-direction: row;
}

/* /* .headerLogo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
} */
.headerCard {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}

.title {
    margin-right: 10px;
    margin-left: 20px;
}

.carousel-image-container {
    width: 250px;
    height: 250px;
    margin: 20px;
  }

.container {
    display : flex;
    align-items: center;
}

.icons {
    display: flex;
    justify-content: center;
}

.carubutton {
    height : 50px;
    
} */ */

.home-container{
    display: flex;

}

.letters-container {
    height: 300px;
    width: 1000px;
    display: flex;
  }
  
  .letter {
    width: 111px; 
    height: 300px;
    display: inline-block;
    background-image: url('/Users/thomas/Desktop/codeclan_work/week_07/day_5/pokemon/public/raremon/MIsc/rareTitle.png');
    background-repeat: no-repeat;
    background-size: 1000px 300px;
    filter: grayscale(100%);
    cursor: pointer;
    transition: filter 1s;
  }
  
  .letter-r {
    background-position: 0 0;
    width: 108px;
  }
  
  .letter-a {
    background-position: -107px 0; 
  }
  
  .letter-r2 {
    background-position: -222px 0; 
  }
  
  .letter-e {
    background-position: -333px 0; 
  }
  
  .letter-l {
    background-position: -444px 0; 
    width: 100px;
  }
  
  .letter-a2 {
    background-position: -545px 0; 
  }
  
  .letter-n {
    background-position: -666px 0; 
  }
  
  .letter-d {
    background-position: -777px 0; 
  }
  
  .letter-s {
    background-position: -888px 0; 
  }
  
  .letter:hover {
    filter: grayscale(0%);
  }
  
  @media (max-width: 600px) {

    .letters-container {
        height: 180px
    }

    .letter {
        background-size: 500px , 150px;
        width: 55.5px;
        filter: grayscale(5%)
    }

    
  
    /* Hide unnecessary letters on mobile */
    .letter-l,
    .letter-a2,
    .letter-n,
    .letter-d,
    .letter-s {
      display: none;
    }

    .letter-r {
        background-position: 0 0;
      }
      
      .letter-a {
        background-position: -55px 0; 
      }
      
      .letter-r2 {
        background-position: -110px 0; 
      }
      
      .letter-e {
        background-position: -165px 0; 
      }


  }

body {
    margin: 0;
    padding: 0;
  }
  
  .home-screen {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: rgb(255,249,240);
    padding: 10px;
  }
  
  .logo {
    flex: 1;
    padding: 10px;
  }
  
  .logo img {
    max-height: 75px;
  }
  
  nav {
    flex: 3;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
  }
  
  .nav-links li {
    margin: 0 10px;
    background-color: rgb(241,234,221);
    padding: 5px 10px 5px;
    border-radius: 4px;
  }

  .nav-links li:hover {
    background-color: white;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(139,109,75);
  }
  
  .social-icons {
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-icons div {
    background-color: rgb(241,234,221);
    margin: 5px;
    padding: 2px 7px 2px;
    border-radius: 4px;
  }

  .social-icons div:hover {
    background-color: white;
  }
  
  /* Add styles for social media icons as needed */
  
  .content {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255,249,240);
  }
  
  .central-component {
    /* padding: 20px; */
    margin-bottom: 150px;
  }

  .map-container {
    position: relative;
  }
  
  .map-overlay {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  
  
  
  






  
  
  
  